*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// cards
.card {
    width: 250px;
    height: 350px;
    border: 2px solid grey;
    color: black;
    position: relative;
    margin: 1.5rem;
    
    // card front
    .poster {
        img{
            height: calc(350px - 4px);
            width: calc(250px - 4px);
        }
        p {
            color: white;
            text-align: center;
            line-height: 350px;
        }
    }
    // card-back
    .info{
        padding: 1rem;
        overflow-y: auto;

        h1, h2, span, p{
            margin-bottom: 0.5rem;
        }
        h1, h2{
            font-size: medium;
        }
        span{
            display: inline-block;
        }
        .fas{
            color: rgba(255, 255, 0, 0.762);
        }
    }    
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    
    .small_lang_logo {
        width: 20px;
        height: 20px;
        margin-bottom: -5px;
    }
}